<html><head><title>Valvers Open Source KiCad Project</title></head>
<body>
    <h1>Valvers.com Open Source KiCad Project</h1>
    <h2>Template</h2>
    <p>This project template is the basis of an open source project for the
        <a href="http://www.valvers.com" target="blank">valvers.com</a>
        website</p>

    <p>For further information please see the Valvers Open Source Hardware
        projects on
        <a href="http://github.com/valvers" target="blank">Github</a>
        or the
        <a href="http://www.valvers.com/open-hardware" target="blank">Valvers Website</a></p>

    <p>(c)2015 Brian Sidebotham &lt;brian@valvers.com&gt; &lt<a href="http://github.com/BrianSidebotham">http://github.com/BrianSidebotham</a>&gt<br>
        (c)2015 Valvers Developers<br></p>
</body></html>
